.navbar {
    background: #000;
    text-align: center;
    font-family: sans-serif;
    width: 105%;
    height: 100vh;
    position: relative;
    margin: -8px;
}

.navbar-navbar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.a-navbar {
    text-decoration: none;
    color: white;
    background: transparent;
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

.a-navbar:hover {
    box-shadow: 0 0 4px #ffde37, 0 0 7px #ff6700, 0 0 40px dodgerblue;
}